# Changelog

## Version 1

* Initial code

# Library

In [1]:
import os
import random
import platform

import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [2]:
!pip freeze > requirements.txt

In [3]:
print('Python version:', platform.python_version())
print('Numpy version:', np.__version__)
print('Pandas version:', pd.__version__)
print('Matplotlib version:', matplotlib.__version__)
print('Seaborn version:', sns.__version__)
print('Scikit-Learn version:', sklearn.__version__)

Python version: 3.7.6
Numpy version: 1.18.5
Pandas version: 1.0.3
Matplotlib version: 3.2.1
Seaborn version: 0.10.0
Scikit-Learn version: 0.23.1

In [4]:
SEED = 42

os.environ['PYTHONHASHSEED']=str(SEED)
random.seed(SEED)
np.random.seed(SEED)

In [5]:
pd.set_option('display.width', None)
pd.set_option('display.max_column', None)

# Dataset

In [6]:
!ls /kaggle/input
!ls /kaggle/input/student-shopee-code-league-marketing-analytics

student-shopee-code-league-marketing-analytics
sample_submission_0_1.csv  test.csv  train.csv	users.csv

In [7]:
df_train = pd.read_csv('/kaggle/input/student-shopee-code-league-marketing-analytics/train.csv')
df_train

,country_code,grass_date,user_id,subject_line_length,last_open_day,last_login_day,last_checkout_day,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,login_count_last_10_days,login_count_last_30_days,login_count_last_60_days,checkout_count_last_10_days,checkout_count_last_30_days,checkout_count_last_60_days,open_flag,row_id
0,4,2019-07-16 00:00:00+08:00,43,44,19,6,18,0,2,4,12,43,99,0,5,10,0,0
1,4,2019-07-16 00:00:00+08:00,102,44,9,4,8,2,9,17,18,48,90,1,1,4,1,1
2,6,2019-07-16 00:00:00+08:00,177,49,14,5,5,0,4,12,24,69,119,5,19,27,0,2
3,1,2019-07-16 00:00:00+08:00,184,49,49,9,53,0,0,1,9,23,69,1,3,6,0,3
4,6,2019-07-16 00:00:00+08:00,221,49,227,6,221,0,0,0,2,5,5,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73534,6,2019-09-02 00:00:00+08:00,127613,39,24,36,279,0,1,1,0,0,0,0,0,0,0,73534
73535,2,2019-09-02 00:00:00+08:00,127620,38,46,10,51,0,0,1,0,0,0,0,0,0,0,73535
73536,2,2019-09-02 00:00:00+08:00,127696,32,Never open,Never login,Never checkout,0,0,0,0,0,0,0,0,0,0,73536
73537,2,2019-09-02 00:00:00+08:00,127807,38,5,34,Never checkout,2,4,4,0,0,0,0,0,0,1,73537
73538,6,2019-09-02 00:00:00+08:00,127880,39,1,3,Never checkout,2,2,3,0,0,0,0,0,0,0,73538

In [8]:
df_test = pd.read_csv('/kaggle/input/student-shopee-code-league-marketing-analytics/test.csv')
df_test

,country_code,grass_date,user_id,subject_line_length,last_open_day,last_login_day,last_checkout_day,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,login_count_last_10_days,login_count_last_30_days,login_count_last_60_days,checkout_count_last_10_days,checkout_count_last_30_days,checkout_count_last_60_days,row_id
0,6,2019-09-03 00:00:00+08:00,0,35,27,2,13,2,3,4,10,34,134,0,6,18,0
1,6,2019-09-03 00:00:00+08:00,130,35,7,5,383,1,1,1,5,5,5,0,0,0,1
2,5,2019-09-03 00:00:00+08:00,150,25,34,1,3,0,0,0,13,19,38,2,2,2,2
3,1,2019-09-03 00:00:00+08:00,181,36,63,5,5,0,0,0,43,110,173,2,5,5,3
4,5,2019-09-03 00:00:00+08:00,192,23,6,5,54,0,0,0,4,12,39,0,0,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55965,6,2019-09-29 00:00:00+08:00,127348,53,Never open,4,8,0,0,0,0,0,0,0,0,0,55965
55966,6,2019-09-29 00:00:00+08:00,127396,53,59,802,1207,0,0,1,0,0,0,0,0,0,55966
55967,6,2019-09-29 00:00:00+08:00,127574,43,Never open,7,Never checkout,0,0,0,0,0,0,0,0,0,55967
55968,6,2019-09-29 00:00:00+08:00,127887,43,5,5,6,2,5,14,0,0,0,0,0,0,55968
55969,6,2019-09-29 00:00:00+08:00,127895,53,5,3,20,2,14,27,0,0,0,0,0,0,55969

In [9]:
df_users = pd.read_csv('/kaggle/input/student-shopee-code-league-marketing-analytics/users.csv')
df_users

        user_id  attr_1  attr_2  attr_3   age      domain
0             0     NaN     1.0     0.0   NaN  @gmail.com
1             1     1.0     1.0     2.0  50.0  @gmail.com
2             2     NaN     1.0     0.0   NaN       other
3             3     NaN     1.0     0.0   NaN  @gmail.com
4             4     1.0     1.0     2.0  33.0  @gmail.com
...         ...     ...     ...     ...   ...         ...
127881   127921     NaN     1.0     0.0   NaN  @yahoo.com
127882   127922     1.0     1.0     0.0  20.0  @gmail.com
127883   127923     NaN     1.0     0.0   NaN  @gmail.com
127884   127924     NaN     0.0     0.0   NaN  @gmail.com
127885   127925     NaN     1.0     0.0   NaN  @gmail.com

[127886 rows x 6 columns]

# Check

## 1. dtype

In [10]:
df_train.dtypes

country_code                    int64
grass_date                     object
user_id                         int64
subject_line_length             int64
last_open_day                  object
last_login_day                 object
last_checkout_day              object
open_count_last_10_days         int64
open_count_last_30_days         int64
open_count_last_60_days         int64
login_count_last_10_days        int64
login_count_last_30_days        int64
login_count_last_60_days        int64
checkout_count_last_10_days     int64
checkout_count_last_30_days     int64
checkout_count_last_60_days     int64
open_flag                       int64
row_id                          int64
dtype: object

In [11]:
df_test.dtypes

country_code                    int64
grass_date                     object
user_id                         int64
subject_line_length             int64
last_open_day                  object
last_login_day                 object
last_checkout_day              object
open_count_last_10_days         int64
open_count_last_30_days         int64
open_count_last_60_days         int64
login_count_last_10_days        int64
login_count_last_30_days        int64
login_count_last_60_days        int64
checkout_count_last_10_days     int64
checkout_count_last_30_days     int64
checkout_count_last_60_days     int64
row_id                          int64
dtype: object

In [12]:
df_users.dtypes

user_id      int64
attr_1     float64
attr_2     float64
attr_3     float64
age        float64
domain      object
dtype: object

## 2. Null

In [13]:
df_train.isnull().sum()

country_code                   0
grass_date                     0
user_id                        0
subject_line_length            0
last_open_day                  0
last_login_day                 0
last_checkout_day              0
open_count_last_10_days        0
open_count_last_30_days        0
open_count_last_60_days        0
login_count_last_10_days       0
login_count_last_30_days       0
login_count_last_60_days       0
checkout_count_last_10_days    0
checkout_count_last_30_days    0
checkout_count_last_60_days    0
open_flag                      0
row_id                         0
dtype: int64

In [14]:
df_test.isnull().sum()

country_code                   0
grass_date                     0
user_id                        0
subject_line_length            0
last_open_day                  0
last_login_day                 0
last_checkout_day              0
open_count_last_10_days        0
open_count_last_30_days        0
open_count_last_60_days        0
login_count_last_10_days       0
login_count_last_30_days       0
login_count_last_60_days       0
checkout_count_last_10_days    0
checkout_count_last_30_days    0
checkout_count_last_60_days    0
row_id                         0
dtype: int64

In [15]:
df_users.isnull().sum()

user_id        0
attr_1     48899
attr_2       447
attr_3         0
age        48899
domain         0
dtype: int64

## 3. Unique value

In [16]:
print(np.sort(df_train['country_code'].unique()))
print(np.sort(df_test['country_code'].unique()))

[1 2 3 4 5 6 7]
[1 2 3 4 5 6 7]

In [17]:
print(np.sort(df_users['attr_1'].unique()))
print(np.sort(df_users['attr_2'].unique()))
print(np.sort(df_users['attr_3'].unique()))
print(np.sort(df_users['domain'].unique()))

[ 0.  1. nan]
[ 0.  1. nan]
[0. 1. 2. 3. 4.]
['@163.com' '@gmail.com' '@hotmail.com' '@icloud.com' '@live.com'
 '@outlook.com' '@qq.com' '@rocketmail.com' '@yahoo.com' '@ymail.com'
 'other']

## 4. Corelation

In [18]:
df_train.corr()

,country_code,user_id,subject_line_length,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,login_count_last_10_days,login_count_last_30_days,login_count_last_60_days,checkout_count_last_10_days,checkout_count_last_30_days,checkout_count_last_60_days,open_flag,row_id
country_code,1.000000,-0.047390,-0.228446,0.072410,0.069744,0.058096,-0.088779,-0.095858,-0.095539,-0.014670,-0.022188,-0.026485,0.158945,-0.019166
user_id,-0.047390,1.000000,0.090311,-0.002713,-0.006046,-0.019741,-0.215780,-0.235338,-0.265182,-0.124446,-0.139839,-0.161749,-0.008082,0.038622
subject_line_length,-0.228446,0.090311,1.000000,-0.027971,-0.045970,-0.049144,-0.005046,-0.007230,-0.010097,0.010012,0.012583,0.011023,-0.057357,-0.156833
open_count_last_10_days,0.072410,-0.002713,-0.027971,1.000000,0.877419,0.794886,0.040657,0.038676,0.036750,0.029375,0.027027,0.025011,0.515307,-0.044468
open_count_last_30_days,0.069744,-0.006046,-0.045970,0.877419,1.000000,0.938160,0.032019,0.037448,0.039500,0.022026,0.025572,0.026829,0.507853,-0.016733
open_count_last_60_days,0.058096,-0.019741,-0.049144,0.794886,0.938160,1.000000,0.029649,0.034864,0.044092,0.021949,0.023505,0.029054,0.477766,0.017703
login_count_last_10_days,-0.088779,-0.215780,-0.005046,0.040657,0.032019,0.029649,1.000000,0.938163,0.889673,0.406717,0.400422,0.389681,0.014023,0.030594
login_count_last_30_days,-0.095858,-0.235338,-0.007230,0.038676,0.037448,0.034864,0.938163,1.000000,0.964382,0.363217,0.423100,0.421970,0.010134,0.027578
login_count_last_60_days,-0.095539,-0.265182,-0.010097,0.036750,0.039500,0.044092,0.889673,0.964382,1.000000,0.344062,0.402575,0.438505,0.008633,0.034341
checkout_count_last_10_days,-0.014670,-0.124446,0.010012,0.029375,0.022026,0.021949,0.406717,0.363217,0.344062,1.000000,0.860379,0.775574,0.015573,0.012013
checkout_count_last_30_days,-0.022188,-0.139839,0.012583,0.027027,0.025572,0.023505,0.400422,0.423100,0.402575,0.860379,1.000000,0.928314,0.013419,0.008604
checkout_count_last_60_days,-0.026485,-0.161749,0.011023,0.025011,0.026829,0.029054,0.389681,0.421970,0.438505,0.775574,0.928314,1.000000,0.010231,0.020536
open_flag,0.158945,-0.008082,-0.057357,0.515307,0.507853,0.477766,0.014023,0.010134,0.008633,0.015573,0.013419,0.010231,1.000000,-0.037443
row_id,-0.019166,0.038622,-0.156833,-0.044468,-0.016733,0.017703,0.030594,0.027578,0.034341,0.012013,0.008604,0.020536,-0.037443,1.000000

# Preprocess

## 1. Domain

In [19]:
list_unique = df_users['domain'].unique()
dict_unique = {list_unique[i]: i for i in range(len(list_unique))}
df_users['domain'] = df_users['domain'].apply(lambda d: dict_unique[d])

## 2. last_{}_day

In [20]:
def convert(day):
    try:
        return np.float(day)
    except:
        return np.nan

In [21]:
df_train['last_open_day'] = df_train['last_open_day'].apply(convert)
df_train['last_login_day'] = df_train['last_login_day'].apply(convert)
df_train['last_checkout_day'] = df_train['last_checkout_day'].apply(convert)

df_test['last_open_day'] = df_test['last_open_day'].apply(convert)
df_test['last_login_day'] = df_test['last_login_day'].apply(convert)
df_test['last_checkout_day'] = df_test['last_checkout_day'].apply(convert)

## 3. User ID

In [22]:
df_train = df_train.join(df_users, on='user_id', rsuffix='_unused')
df_test = df_test.join(df_users, on='user_id', rsuffix='_unused')

## 4. Drop Column

In [23]:
del df_train['user_id']
del df_train['user_id_unused']
del df_train['row_id']

del df_test['user_id']
del df_test['user_id_unused']
del df_test['row_id']

# Inspect

In [24]:
df_train

,country_code,grass_date,subject_line_length,last_open_day,last_login_day,last_checkout_day,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,login_count_last_10_days,login_count_last_30_days,login_count_last_60_days,checkout_count_last_10_days,checkout_count_last_30_days,checkout_count_last_60_days,open_flag,attr_1,attr_2,attr_3,age,domain
0,4,2019-07-16 00:00:00+08:00,44,19.0,6.0,18.0,0,2,4,12,43,99,0,5,10,0,1.0,1.0,2.0,47.0,0.0
1,4,2019-07-16 00:00:00+08:00,44,9.0,4.0,8.0,2,9,17,18,48,90,1,1,4,1,1.0,1.0,2.0,25.0,3.0
2,6,2019-07-16 00:00:00+08:00,49,14.0,5.0,5.0,0,4,12,24,69,119,5,19,27,0,NaN,1.0,0.0,NaN,2.0
3,1,2019-07-16 00:00:00+08:00,49,49.0,9.0,53.0,0,0,1,9,23,69,1,3,6,0,1.0,1.0,2.0,24.0,2.0
4,6,2019-07-16 00:00:00+08:00,49,227.0,6.0,221.0,0,0,0,2,5,5,0,0,0,0,NaN,1.0,0.0,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73534,6,2019-09-02 00:00:00+08:00,39,24.0,36.0,279.0,0,1,1,0,0,0,0,0,0,0,1.0,1.0,1.0,37.0,0.0
73535,2,2019-09-02 00:00:00+08:00,38,46.0,10.0,51.0,0,0,1,0,0,0,0,0,0,0,NaN,1.0,0.0,NaN,0.0
73536,2,2019-09-02 00:00:00+08:00,32,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,NaN,1.0,0.0,NaN,9.0
73537,2,2019-09-02 00:00:00+08:00,38,5.0,34.0,NaN,2,4,4,0,0,0,0,0,0,1,NaN,1.0,0.0,NaN,0.0
73538,6,2019-09-02 00:00:00+08:00,39,1.0,3.0,NaN,2,2,3,0,0,0,0,0,0,0,NaN,1.0,0.0,NaN,0.0

In [25]:
df_test

,country_code,grass_date,subject_line_length,last_open_day,last_login_day,last_checkout_day,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,login_count_last_10_days,login_count_last_30_days,login_count_last_60_days,checkout_count_last_10_days,checkout_count_last_30_days,checkout_count_last_60_days,attr_1,attr_2,attr_3,age,domain
0,6,2019-09-03 00:00:00+08:00,35,27.0,2.0,13.0,2,3,4,10,34,134,0,6,18,NaN,1.0,0.0,NaN,0.0
1,6,2019-09-03 00:00:00+08:00,35,7.0,5.0,383.0,1,1,1,5,5,5,0,0,0,NaN,1.0,0.0,NaN,0.0
2,5,2019-09-03 00:00:00+08:00,25,34.0,1.0,3.0,0,0,0,13,19,38,2,2,2,1.0,1.0,2.0,33.0,0.0
3,1,2019-09-03 00:00:00+08:00,36,63.0,5.0,5.0,0,0,0,43,110,173,2,5,5,1.0,1.0,2.0,22.0,2.0
4,5,2019-09-03 00:00:00+08:00,23,6.0,5.0,54.0,0,0,0,4,12,39,0,0,2,NaN,1.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55965,6,2019-09-29 00:00:00+08:00,53,NaN,4.0,8.0,0,0,0,0,0,0,0,0,0,NaN,1.0,0.0,NaN,3.0
55966,6,2019-09-29 00:00:00+08:00,53,59.0,802.0,1207.0,0,0,1,0,0,0,0,0,0,NaN,1.0,0.0,NaN,0.0
55967,6,2019-09-29 00:00:00+08:00,43,NaN,7.0,NaN,0,0,0,0,0,0,0,0,0,NaN,1.0,0.0,NaN,0.0
55968,6,2019-09-29 00:00:00+08:00,43,5.0,5.0,6.0,2,5,14,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
55969,6,2019-09-29 00:00:00+08:00,53,5.0,3.0,20.0,2,14,27,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [26]:
df_users

        user_id  attr_1  attr_2  attr_3   age  domain
0             0     NaN     1.0     0.0   NaN       0
1             1     1.0     1.0     2.0  50.0       0
2             2     NaN     1.0     0.0   NaN       1
3             3     NaN     1.0     0.0   NaN       0
4             4     1.0     1.0     2.0  33.0       0
...         ...     ...     ...     ...   ...     ...
127881   127921     NaN     1.0     0.0   NaN       2
127882   127922     1.0     1.0     0.0  20.0       0
127883   127923     NaN     1.0     0.0   NaN       0
127884   127924     NaN     0.0     0.0   NaN       0
127885   127925     NaN     1.0     0.0   NaN       0

[127886 rows x 6 columns]

# Save

In [27]:
df_train.to_csv('train_processed.csv', index=False)
df_test.to_csv('test_processed.csv', index=False)
df_users.to_csv('users_processed.csv', index=False)

In [28]:
df_train.to_parquet('train_processed.parquet', engine='pyarrow')
df_test.to_parquet('test_processed.parquet', engine='pyarrow')
df_users.to_parquet('users_processed.parquet', engine='pyarrow')